* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #191a1d;
  font-family: "Raleway", sans-serif;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 50px 0px 30px 0px;
  color: #c1c1c1;
  text-align: center;
  font-size: 40px;
}
header p {
  color: #c1c1c1;
  font-size: 25px;
}

p {
  color: #c1c1c1;
  text-align: center;
  font-size: 20px;
}

.pads {
  background: lightblue;
  width: 100%;
  display: flex;
}
.pads > div {
  height: 100px;
  width: 100px;
  flex: 1;
  font-size: 20px;
}
.pad1 {
  background: #4E0E2E;
}
.pad2 {
  background: #947B89;
}
.pad3 {
  background: #AEB8C3;
}
.pad4 {
  background: #E1E7EB;
}
.pad5 {
  background: #AEB8C3;
}
.pad6 {
  background: #947B89;
}
.pad7 {
  background-color: #4E0E2E;
}

.pads_bot {
  background: lightblue;
  width: 100%;
  display: flex;
}

.pads_bot > div {
  height: 100px;
  width: 100px;
  flex: 1;
  font-size: 20px;
  bottom: 50px;
}
.pad8 {
  background: #4E0E2E;
}
.pad9 {
  background: #947B89;
}
.pad10 {
  background: #AEB8C3;
}
.pad11 {
  background: #E1E7EB;
}
.pad12 {
  background: #AEB8C3;
}
.pad13 {
  background: #947B89;
}
.pad14 {
  background-color: #4E0E2E;
}

.visual > div {
  position: absolute;
  bottom: 0%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transform: scale(1);
  z-index: -1;
}

@keyframes jump {
  0% {
    bottom: 0%;
    left: 20%;
  }
  50% {
    bottom: 50%;
    left: 50%;
  }

  100% {
    bottom: 00%;
    left: 80%;
  }
}
